.sidebar {
  width: 250px;
  height: 100vh;
  background: #1e1e1e;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
}



.avatar-initial {
    width: 70px;
    height: 70px;
    background: #4e4e6a;
    color: white;
    border-radius: 50%;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Nama CMS */
.cms-name {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}
.profile {
  
    justify-content: center;
    align-items: center;
    display: flex;
}
.sidebar-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.sidebar-item {
  padding: 15px 12px;
  margin-bottom: 5px;
   text-decoration: none;
  color: white;
  text-decoration: none;

  cursor: pointer;
  transition: 0.2s;
}

.sidebar-item:hover {
  background: #3b3b3b;
  text-decoration: none;
  
}



.sidebar-item.active {
  background: #007bff; 
  color: white;
  text-decoration: none;
  
}