.sidebar {
  width: 250px;
  height: 100vh;
  background: #1e1e1e;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Avatar */
.avatar-initial {
  width: 70px;
  height: 70px;
  background: #4e4e6a;
  color: white;
  border-radius: 50%;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Nama CMS */
.cms-name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.profile {
  justify-content: center;
  align-items: center;
  display: flex;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar-item {
  padding: 15px 12px;
  margin-bottom: 5px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.sidebar-item:hover {
  background: #3b3b3b;
}

.sidebar-item.active {
  background: #007bff;
  color: white;
}

/* ===== Logout Section ===== */

.logout-wrapper {
  width: 100%;
  margin-top: auto;
}

.logout-btn {
  width: 100%;
  padding: 12px;
  background: #d9534f;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.logout-btn:hover {
  background: #c9302c;
}
