
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #e5e8ef;
}


.auth-card {
    width: 380px;
    background: white;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.1);
}

.auth-title {
    font-size: 24px;
    margin-bottom: 5px;
}

.auth-subtitle {
    font-size: 14px;
    color: #6d6d6d;
    margin-bottom: 25px;
}

form label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
}


form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #cfd3da;
    background: #fafafa;
    outline: none;
    transition: 0.2s;
}

form input:focus {
    border-color: #007bff;
    background: #fff;
}


.auth-btn {
    width: 100%;
    padding: 12px;
    background: #0062ff;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 5px;
}

.auth-btn:hover {
    background: #004cd4;
}

.auth-error {
    margin-top: 10px;
    color: red;
    font-size: 14px;
    text-align: center;
}


.auth-footer {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.auth-footer a {
    color: #0062ff;
    text-decoration: none;
    font-weight: 500;
}

.auth-footer a:hover {
    text-decoration: underline;
}
